<a href="/contracts/contract/{{contract.contractID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">ID контракта: {{contract.contractID}}</p>
            <p class="imdiz-product__name">Статус контракта: {{contract.contractstatusname}}</p>
            <p class="imdiz-product__name">Дата контракта: {{contract.contractdate}}</p>
            <p class="imdiz-product__name">ФИО арендатора: {{contract.usersurname}} {{contract.username}}</p>
            <p class="imdiz-product__name">Логин арендатора: {{contract.userlogin}}</p>
            <p class="imdiz-product__name">ФИО работника: {{contract.workersurname}} {{contract.workername}}</p>		
        </div>
    </div>
</li>
</a>