<a href="/contracts/contract/{{contract.contractID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">{{contract.contractID}}</p>
            <p class="imdiz-product__name">{{contract.contractstatusname}}</p>
            <p class="imdiz-product__name">{{contract.contractdate}}</p>
            <p class="imdiz-product__name">{{contract.usersurname}} {{contract.username}}</p>
            <p class="imdiz-product__name">{{contract.userlogin}}</p>
            <p class="imdiz-product__name">{{contract.workersurname}} {{contract.workername}}</p>		
        </div>
    </div>
</li>
</a>