<div class="iteminshopcart">
    <div class="grid">
        <div class="buttons">
            <button class="deletebtn" value="{{item.itemID}}" type="button" name="button">
                <img class="deleteimg" src="../../image/svg/delete.svg" alt="" />
            </button>
        </div>
        <div><img class="shopcartimg" src="{{item.itemimagepath}}" alt="" /></div>
        <div class="descrforshopcart">
            <span>{{item.itemname}}</span>
            <span>Состояние: {{item.itemconditionname}}</span>
        </div>
        <div class="price">Цена: {{item.itemprice}}</div>
    </div>
</div>

     