<div class="grid">
    <!-- и создаём 16 вложенных элементов -->
    <div class="image"><img class ="image-fit" src={{item.itemimagepath}}> </div>
    <div class="itemnameset">
        <div class="itemset">{{item.itemname}}</div>
    </div>
    <table>
        <caption>О товаре:</caption>
        <tr><td>Производитель/автор:</td><td>{{item.itemauthor}}</td></tr> <!--ряд с ячейками тела таблицы-->
        <tr><td>Возрастное ограничение:</td><td>{{item.itemagelimit}}</td></tr>
        <tr><td>Количество в наличии:</td><td>{{item.itemcount}}</td></tr>
        <tr><td>Качество:</td><td>{{item.itemconditionname}}</td></tr>
    </table>
    <div></div>
    <table>
        <tr><td colspan="2" style="text-align:center">Описание:</td></tr>
        <tr><td colspan="2" style="text-align:center">{{item.itemdescription}}</td></tr>
    </table>
    <div></div>
    <div class="invisibleblock"></div>
    <div>
        <p><center>Стоимость:</center></p>
        <span><center><b>{{item.itemprice}}</b></center></span>
        <form class="imdiz-product__buy-form">
            <input type="hidden">
            <p><button type="submit" class="imdiz-product__submit">{{btnname}}</button></p>
        </form>
    </div>
     <a href="/items/update/{{item.itemID}}"><button>Редактировать запись</button></a>
</div>