<a href="/orders/order/{{order.orderID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">{{order.orderID}}</p>
            <!--<span class="imdiz-product__name">{{worker.workername}}</span>-->
            <p class="imdiz-product__name">{{orderstatus.orderstatusname}}</p>
            <p class="imdiz-product__name">{{order.orderdate}}</p>
            <p class="imdiz-product__name">{{user.usersurname}}</p>
            <p class="imdiz-product__name">{{worker.workersurname}}</p>		
        </div>
    </div>
</li>
</a>