<a href="/orders/order/{{order.orderID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">ID заказа: {{order.orderID}}</p>
            <p class="imdiz-product__name">Статус заказа: {{order.orderstatusname}}</p>
            <p class="imdiz-product__name">Дата заказа: {{order.orderdate}}</p>
            <p class="imdiz-product__name">ФИО покупателя: {{order.usersurname}} {{order.username}}</p>
            <p class="imdiz-product__name">Логин покупателя: {{order.userlogin}}</p>
            <p class="imdiz-product__name">ФИО работника: {{order.workersurname}} {{order.workername}}</p>		
            {{#isEquals token.role "0"}}
             {{#isLesser order.orderstatusID "2"}}
            <form class="imdiz-product__buy-form">
                <input type="hidden">
                <button type="submit" id="delete-btn" class="imdiz-product__submit" value="{{order.orderID}}">Отменить заказ</button>
            </form>
            {{/isLesser}}
            {{/isEquals}}
        </div>
    </div>
</li>
</a>