<a href="/orders/order/{{order.orderID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">{{order.orderID}}</p>
            <p class="imdiz-product__name">{{order.orderstatusname}}</p>
            <p class="imdiz-product__name">{{order.orderdate}}</p>
            <p class="imdiz-product__name">{{order.usersurname}} {{order.username}}</p>
            <p class="imdiz-product__name">{{order.userlogin}}</p>
            <p class="imdiz-product__name">{{order.workersurname}} {{order.workername}}</p>		
        </div>
    </div>
</li>
</a>