<a href="/workers/worker/{{worker.workerID}}">
<li class="imdiz-product">
    <div class="imdiz-product__inner">                
        <div class="imdiz-product__info">
            <p class="imdiz-product__name">{{worker.workersurname}}</p>
            <!--<span class="imdiz-product__name">{{worker.workername}}</span>-->
            <p class="imdiz-product__name">{{worker.workername}}</p>
            <p class="imdiz-product__name">{{worker.workermidname}}</p>
            <p class="imdiz-product__name">{{worker.workeremail}}</p>		
        </div>
    </div>
</li>
</a>
