<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
	<title>Добавление товара</title>
	<link rel="stylesheet" href="/../css/signin.css">
    <link rel="stylesheet" href="/../css/style.css">
</head>
	<body>	
        <header class="headernotmain">
        {{> navigationbar}}
        </header>
		<div class="box" style="margin-top:100px;">
            <input hidden id="id" value="{{item.itemID}}">
            <input hidden id="catid" value="{{item.categoryID}}">
            <input hidden id="statid" value="{{item.itemstatusID}}">
            <input hidden id="condid" value="{{item.itemconditionID}}">
            <form>
                <table style="width: 100%;">
                    <tr>
                        <th></th>
                        <th style="width: 75%;"></th>
                    </tr>
                    <tr>
                        <th>Название</th>
                        <td><input id="name" type="text" value="{{item.itemname}}"/></td>
                    </tr> 
                    <tr>	
                        <th>Автор/Производитель</th>
                        <td><input id="author" type="text" value="{{item.itemauthor}}"/></td>
                           
                    </tr>
                    <tr>	
                        <th>Количество</th>
                        <td><input id="count" type="text" value="{{item.itemcount}}"/></td>
                            
                    </tr>
                    <tr>	
                        <th>Стоимость</th>
                        <td><input id="price" type="text" value="{{item.itemprice}}"/></td>
                    </tr>
                    <tr>	
                        <th>Возрастное ограничение</th>
                        <td><input id="age" type="text" value="{{item.itemagelimit}}"/></td>
                    </tr>
                    <tr>
                        <th>Арендуемый</th>
                        <td><input type="checkbox" id="isrent" {{isrent}}></td>
                    </tr>
                    <tr>
                        <th>Ссылка на изображение</th>
                        <td><input type="text" id="image" value="{{item.itemimagepath}}"></td>
                    </tr>
                    <tr>
                        <th>Статус товара</th>
                        <td>
                            <select {{attribute}} name="input" id="status">
                                {{#each itemstatuses}}
                                    <option value = "{{this.itemstatusID}}">{{this.itemstatusname}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Состояние</th>
                        <td>
                        <select {{attribute}} name="input" id="condition">
                            {{#each itemconditions}}
                                <option value = "{{this.itemconditionID}}">{{this.itemconditionname}}</option>
                            {{/each}}
                        </select>
                        </td>  
                    </tr>
                    <tr>
                        <th>Категория</th>
                        <td>
                        <select {{attribute}} name="input" id="category">
                            {{#each categories}}
                                <option value = "{{this.categoryID}}">{{this.categoryname}}</option>
                            {{/each}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Описание</th>
                        <td>
                        <textarea oninput="auto_grow(this)" id="description" class="teaxtarea-element" type="text" required=""/>{{item.itemdescription}}</textarea>
                        </td>
                    </tr>
                </table>
                    <button id="save-btn" type="button" class="btn">Создать</button>
            </form>	
        </div>
        <a href="/items/parameters"><button class="btn">Редактировать параметры</button></a>
	</body>
</html>
<script>
    window.onload = function(){
        document.getElementById('status').value = document.getElementById('statid').value;
        document.getElementById('condition').value = document.getElementById('condid').value;
        document.getElementById('category').value = document.getElementById('catid').value;
    }
    document.addEventListener('DOMContentLoaded', function() {
    autosize(document.querySelectorAll('#description'));
    }, false);
    document.getElementById('save-btn').onclick = async function(){
        var data={
            ID: document.getElementById('id').value,
            name: document.getElementById('name').value,
            description: document.getElementById('description').value,
            imagepath: document.getElementById('image').value,
            agelimit: document.getElementById('age').value,
            price: document.getElementById('price').value,
            count: document.getElementById('count').value,
            author: document.getElementById('author').value,
            isrentable: document.getElementById('isrent').checked,
            categoryID: document.getElementById('category').value,
            statusID: document.getElementById('status').value,
            conditionID: document.getElementById('condition').value
        }

        if(data.description.length < 1 || data.description.length > 1000){alert("Описание не должно быть длиннее 1000 символов и не короче 1");return;}
        if(!data.name || data.name.length > 50){alert("Некорректное или слишком длинное название");return;}
        if(!data.author || data.author.length > 50){alert("Некорректный или слишком длинный автор/производитель");return;}
        if(!data.count || !/^\d+$/.test(data.count)){alert("Укажите количество");return;}
        if(!data.price || !/^\d+$/.test(data.price)){alert("Укажите цену");return;}
        if(!data.agelimit || !/^\d+$/.test(data.agelimit)){alert("Укажите возрастную категорию");return;}
        if(data.imagepath.length > 1000){alert("Слишком длинная ссылка");return;}
        try {
           var url = new URL(data.imagepath);
        } catch (_) {
            alert("Неверный формат ссылки на изображение");
            return;  
        }
        var url = "create";
        if (data.ID) url = "update";
        const response = await fetch('/items/'+url, {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if(response.status == 200) alert("Запись создана успешно");
        else alert("Ошибка при создании записи");
    };
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    };
</script>