<div class="grid">
    <table>
        <caption>О сотруднике:</caption>
        <tr><td>Фамилия:</td><td>{{worker.workersurname}}</td></tr> <!--ряд с ячейками тела таблицы-->
        <tr><td>Имя:</td><td>{{worker.workername}}</td></tr>
        <tr><td>Отчество:</td><td>{{worker.workermidname}}</td></tr>
        <tr><td>Почта:</td><td>{{worker.workeremail}}</td></tr>
        <tr><td>Телефон:</td><td>{{worker.workerphone}}</td></tr>
        <tr><td>Стаж работы:</td><td>{{worker.workerexperience}}</td></tr>
        <tr><td>Логин:</td><td>{{worker.workerlogin}}</td></tr>
        <tr><td>Паспорт:</td><td>{{worker.workerpassport}}</td></tr>
        <tr><td>Кем выдан:</td><td>{{worker.workerpassportby}}</td></tr>
        <tr><td>Дата выдачи:</td><td>{{worker.workerpassportdate}}</td></tr>
    </table>
    <div></div>
<a href="/items/update/{{item.itemID}}"><button class="upbtn">Редактировать запись</button></a>